@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="https://tanzu.vmware.com/build-service" target="_blank"><img src="~/img/tbs.png" style="width: 100%;" /></a>
    <p>Automate container image builds with <a href="https://docs.pivotal.io/build-service/0-2-0/" target="_blank">Tanzu Build Service</a>.</p>
</div>
